h1 {
  color: darkblue;
}

ul {
 text-align: right;
}

.項目 {
  color: darkblue;
  display: inline;
  
}

.画像 {
  text-align: right;
}

.笑顔 {
  font-size: 70px;
  
}

.青 {
  background-color: darkblue;
}

