header {
  position: relative;
}

h1 {

  color: darkblue;
}


ul {
 text-align: right;   
}

li {
padding: 8px;
font-size: large;
color: darkblue;
display: inline;
position: relative;
bottom: 50px;
}

.pic {
  margin-left: auto;
  width: 700px;
  height: 400px;

}
img {
  position: relative;
  z-index: 10;
  bottom: 10px;
}

P {
  position: relative;
  font-size: 80px;
  top: 50px;


}

.b {
  background: darkblue;
  width: 1000px;
  height: 200px;
}

footer {
  position: relative;
  bottom: 60px;
}
