header {
  position: relative;
}

h1 {

  color: darkblue;
}


ul {
 text-align: right;   
}

li {
padding: 8px;
font-size: large;
color: darkblue;
display: inline;
position: relative;
bottom: 50px;
}

img {
  text-align: right;
  position: relative;
  z-index: 10;
  left: 700px;
  width: 800px;
  height: 500px;
  top: 40px;
}


P {
  font-size: 80px;
position: absolute;
z-index: 20;
top: 400px

}

.b {
  background: darkblue;
  width: 1000px;
  height: 200px;
}

footer {
  position: relative;
  bottom: 45px;
}
